body {
    margin:0px;
    padding: 0px;
    background-color: #413C69;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Iosevka', monospace;
    margin: 0;
    padding: 0;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    position: sticky;
    top: 0;
    /*z-index: auto;  */
}

nav li a button {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 100px;
    margin-right: 100px;
    width: 100%;
    height: 90px;
    background-color: #413C69;
}

.logo {
    cursor: pointer;
    margin-right: 50%;
    width: 100px;
    margin-top: 0px;
    height: 80px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    list-style-type: none;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    text-align: center;
}

.nav__links li a:hover {
    color: coral;
}

button {
    padding: 10px 50px;
    background-color: #8b82da;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 1.0s ease 0s;
    font-size: 15px;
}

.cta > button {
    font-size: 18px;
    color: cornsilk;
}

button:hover {
    background-color: coral;
    color: black;
}

.landing {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 100px;
    margin-bottom: 30%;
}

.landing-text h1 {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 30px rgba(0,0,0,0.01);
    line-height: 45px;
}

 .typewriter {
    color: coral;
    font-size: 2.5rem;
    font-weight: 100;
    /*text-shadow: 2px 2px 30px rgba(0,0,0,0.01);*/
    margin: 0px;
    margin-top: 10px;
    line-height: 40px;
    outline: 2px;
    text-shadow: 1px 1px 2px rgb(158, 68, 68), 0 0 25px #e94e4e, 0 0 5px rgb(216, 94, 94);
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(100), blink .75s step-end forwards infinite;
    white-space: nowrap;
    border-right: 5px solid orange;
    box-sizing: border-box;
}    

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: coral; 
    }
}


.landing-text p {
    color: #8a94a7c0;
    font-size: 1rem;
    margin: 0px;
    margin-top: 10px;
    text-align: justify;
}

.logo-model {
    margin-right: 300px;
    margin-top: 100px;
}

.logo-model img {
    width: 200%;
    height: 500px;
}

.skill-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#Skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    /*margin: 0px auto;*/
    text-align: center;
    color: #fff;
    /*border-radius: 10px;*/
}

#Skills h1 {
    font-size: 2.5rem;
    color: coral;
    margin-top: 100px;
}

#Skills p {
    color: whitesmoke;
    margin-top: 5px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    margin: 80px 10px 0px 10px;
    padding: 25px;
    background-color: #312C51;
    border-radius: 10px;
    color: #fff;
    transition: all 1.0s ease 0s;
}

.skill-card img {
    width: 50px;
    height: 50px;
    margin: 20px auto;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 37px;
    margin: 80px auto;
    color: #fff;
    border-radius: 10px;
    align-items: center;
}

.about img {
    width: 250px;
    height: 250px;
    border-radius: 500px;
    margin-top: 60px;
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 50px 10px 0px 100px;
    padding: 30px;
    text-align: left;
    align-items: center;
    background-color: #312C51;
    border-radius: 10px;
    color: #fff;
}

.about h1{
    font-size: 2.5rem;
    color: coral;
    margin-top: 100px;
}

.about p {
    color: whitesmoke;
    margin-top: 5px;
}

.about-text td {
    border-style: outset;
    border-color: darkslategray;
}

.about-text .title {
    padding: 15px 100px 10px 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #444455;
}

footer h2 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(184, 200, 231);
}

footer .contact {
    width: 100%;
    height: 400px;
    background-color: #444455;
    color: whitesmoke;
    padding: 70px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .contact h1 {
    font-size: 2.5rem;
    color: coral;
    margin-top: 0px;
}

footer .contact h2 {
    color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.contact .contact-imgtext {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contact-imgtext img {
    display: flex;
    padding-right: 10px;
}

.contact-imgtext p {
    display: flex;
    justify-content: space-between;
}
